#logo {
  > h1 {
    font-size: 32px;
    font-weight: 500;
    color: #444444;
    text-shadow: 0 0 3px fade(#000, 6%), 0 2px 2px fade(#000, 50%);
    margin: 25px 5px;
  }
}

/*登录框*/
#loginBox {
  form {
    width: 75%;
    padding: 40px;
  }
}